body{
    background-color: white;
}


#marqparent{
   
        background-color: black;
        height: 40px;
        width: 100%;
        
    }
#marqdiv{
    height: 40px;
    width: 100%;
}


marquee{
    
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
       color: rgb(250, 247, 247);
       padding: 12px 14px;
    }


#horinavid{
    height: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(232, 229, 229);
    box-shadow: 5px 5px 5px rgb(232, 229, 229);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */

}

#navdiv i{
    margin-top: 10px;
    color: black;
    padding: 12px 12px;
}

#navdiva{
    margin-top: 10px;
    /* color: black; */
    padding: 12px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    width: 10%;
}

#horinavid1{
    background-color: white;
    border: 1px solid rgb(232, 229, 229);
    box-shadow: 5px 5px 5px rgb(232, 229, 229);
  height: 30px;
  width: 100%;

}

#navdiv1{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(233, 58, 58); */
    justify-content: space-evenly;
   margin-top: 20px;
   

}

#navdiv1 a{
    text-decoration: none;
    color: black;
   
  
}

#navdiv1 div:hover{
   
        text-decoration: underline;
        transition: 2s;
        cursor: pointer;
    
}

#horinavid_1{
    height: 30px;
    width: 100%;
    border: 1px solid white;

}

#navdiv_1{
    display: flex;
    justify-content: space-evenly;
}

#home{
    height: 30px;
    width: 20%;
}

#noofwatches{
    height: 30px;
    width: 80%;
}
#verticnavid{
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20px;
   /* border: 1px solid black; */
  
 }
 
 
 
 #vertidiv{
   border: 1px solid white;
 height: 100vh;
 width: 450%;
 }

#horinavid2{
    background-color: rgba(254, 226, 231, 0.301);
    height: 40px;
    width: 100%;
    border: 1px solid rgba(254, 226, 231, 0.301);
    box-shadow: 30px;
    margin-top: 20px;
    
}

#navdiv2{
    display: flex;
    justify-content: center;
}

#navdiv2 div{
    padding: 12px 20px;

}


#parentcontainer{
    display: flex;
    /* justify-content: space-between; */
}


#child1{
    height: 100px;
    width: 20%;
}
#child2{
    height: 100px;
    width: 80%;
}

#navdiv3{
    height: 60px;
    width: 100%;
}
#navdiv3 img{
    height: 60px;
    width: 100%;
}
#horinavid4{
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-left: 0;
    justify-content: space-between;
}

#navdiv4{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    width: 80%;
    /* height:40px ; */
    overflow-x: scroll;
    background-color: rgb(252, 118, 118);
   
    
}
#navdiv4::-webkit-scrollbar{
    width: 100px;
    height: 2px;
}

#navdiv4::-webkit-scrollbar-track{
    background-color: rgb(203, 196, 196);
border-radius: 10px;
}

#navdiv4::-webkit-scrollbar-thumb{
    background-color: rgb(247, 179, 8);
border-radius: 10px;

}

#child_navdiv4{
    width: 850px;
    height:40px ;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navdiv4 div a{
    color: black;
    text-decoration: none;
    /* border: 1px solid rgb(229, 228, 228); */
    background-color: rgba(241, 239, 239, 0.756);
    font-size:13px;
    padding: 5px 5px;

    &:hover{
        background-color: rgba(245, 239, 218, 0.575);
        border: 1px solid rgb(247, 179, 8);
    }
}

#split1{
    height: 30px;
    width: 10%;
}

#togid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* #horinavid5{
    height: 100vh;
    width: 100%;
    margin: -20% -20%; 
     padding:20% 20% ;
   
} */
#division1{
    background-color: white;
    /* height: 100%; */
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}



#container{
  
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px white;
    padding: 12px 14px;
    text-align: left;
 
    
    &:hover{
        border: 1px solid rgba(186, 182, 182, 0.733);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(186, 182, 182, 0.733);
    cursor: pointer;
    }
}

#img{
    height: 200px;
    width: 100%;
}


.switch {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 15px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }
  .switch::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 13px;
    height: 13px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28),
      0 0 0 20px rgba(128, 128, 128, 0.1);
  }
  input:checked + .switch {
    background: #72da67;
  }
  input:checked + .switch::before {
    left: 15px;
    background: #fff;
  }
  input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28),
      0 0 0 20px rgba(0, 150, 136, 0.2);
  }

  .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}


.price-container span {
    color: rgb(175, 174, 174);
}


#slider-container1 {
    position: relative;
    width: 200px;
    margin: 10px auto;
}


.slider {
    position: absolute;
    width: 100%;
    height: 6px;
    background: #fdeacc;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}


input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    left: -2px;
    top: -3px;
}


input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
}


input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: #d5983b;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: -8px;
    -webkit-appearance: none;
}


.range-track {
    position: absolute;
    height: 6px;
    background: #d5983b;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}




#container1{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px white;
    padding: 12px 14px;
    text-align: center;
    background-color: white;
}
#img1{
    height: 90px;
    width: 100%;
    align-items: center;
}

.banner1{
    /* margin-top:10px; */
    border: 1px solid white;
    background-color: white;
    height: 102px;
    width: 100%;
   
}
#banner1 img{
    height: 100px;
    width: 100%;
}

#carous-main{
    border: 1px solid rgba(4, 3, 3, 0.4);
    background-color: #72da67;
     /* background-image: url("./images/rainbowcolor.jpeg"); */
    /* background-repeat: no-repeat;  */
    background-size: 100% 500px;
    height: 500px;
    width: 100%;
    
}

#carous-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;                                                                         
    margin-top: 10px;
}







@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
       
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        max-width: 100%;
        /* height: 23vw; */
    }
}

#subid{
    text-overflow: hidden;
}

.slider-container{
    position: relative;
    overflow-x: hidden;
    height: 200px;

}

.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.item{
    background-color: rgb(252, 118, 118);
    width: 300px;
    height: 200px;
    margin: 0 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border: none;
    outline: none;
    /* color: white; */
    font-size: 20px;
    /* margin: 20px; */
    padding: 6px 12px;
    cursor: pointer;
    /* background-color: #72da67; */
    height: 40px;
    width: 40px;
    border: 1px solid white;
    background-color: white;


   
    left: 50%;
    transform: translate(-50%);

  
}

.btn :nth-child(2){
    margin-left: -74px;
}
















@media(max-width:768px){
    #division1{
        margin-top: 100px;
        background-color: white;
        width: 80%;
        margin-left: 20%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:568px){
    #division1{
        margin-top: 100px;
        background-color: white;
        width: 80%;
        margin-left: 20%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    #marqparent{
   
        background-color: black;
        height: 40px;
        width: 100%;
        
    }
    #horinavid{
        height: 50px;
        width: 100%;
        background-color: white;
        border: 1px solid rgb(232, 229, 229);
        box-shadow: 5px 5px 5px rgb(232, 229, 229);
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        /* margin-top: 10px; */
    
    }

    #marqparent{
   
        background-color: black;
        height: 40px;
        width: 100%;
        
    }
#marqdiv{
    height: 40px;
    width: 100%;
}


marquee{
    
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
       color: rgb(250, 247, 247);
       padding: 12px 14px;
    }


#horinavid{
    height: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(232, 229, 229);
    box-shadow: 5px 5px 5px rgb(232, 229, 229);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */

}

#navdiv i{
    margin-top: 10px;
    color: black;
    padding: 12px 12px;
}

#horinavid1{
    background-color: white;
    border: 1px solid rgb(232, 229, 229);
    box-shadow: 5px 5px 5px rgb(232, 229, 229);
  height: 30px;
  width: 100%;

}

#navdiv1{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(233, 58, 58); */
    justify-content: space-evenly;
   margin-top: 20px;
   

}

#navdiv1 a{
    text-decoration: none;
    color: black;
   
  
}

#navdiv1 div:hover{
   
        text-decoration: underline;
        transition: 2s;
        cursor: pointer;
    
}


#horinavid2{
    background-color: rgba(254, 226, 231, 0.301);
    height: 40px;
    width: 100%;
    border: 1px solid rgba(254, 226, 231, 0.301);
    box-shadow: 30px;
    margin-top: 20px;
    
}

#navdiv2{
    display: flex;
    justify-content: center;
}

#navdiv2 div{
    padding: 12px 20px;

}


#parentcontainer{
    display: flex;
    /* justify-content: space-between; */
}


#child1{
    height: 100px;
    width: 20%;
}
#child2{
    height: 100px;
    width: 80%;
}

#navdiv3{
    height: 60px;
    width: 100%;
}
#navdiv3 img{
    height: 60px;
    width: 100%;
}
#horinavid4{
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
    margin-left: 0;
    justify-content: space-between;
}

#navdiv4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    background-color: white;
   
    
}
#navdiv4 div a{
    color: black;
    text-decoration: none;
    /* border: 1px solid rgb(229, 228, 228); */
    background-color: white;
    font-size:17px;
    padding: 12px 14px;

    &:hover{
        background-color: rgb(164, 160, 160);
    }
}

#split1{
    height: 30px;
    width: 10%;
}

#togid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* #horinavid5{
    height: 100vh;
    width: 100%;
    margin: -20% -20%; 
     padding:20% 20% ;
   
} */
#division1{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}


#container{
  
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px white;
    padding: 12px 14px;
    text-align: center;
 
    
    &:hover{
        border: 1px solid rgba(186, 182, 182, 0.733);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(186, 182, 182, 0.733);
    cursor: pointer;
    }
}

#img{
    height: 200px;
    width: 100%;
}




}